<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="icon" href="/img/logo.png" type="image/png">
  {{ $css := resources.Get "css/main.css" }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script src="/pagefind/pagefind-ui.js"></script>
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ partial "header.html" . }}

  <main>
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      var el = document.getElementById('search');
      if (el) {
        new PagefindUI({
          element: '#search',
          showSubResults: false,
          showImages: false,
          resetStyles: false
        });
      }
    });
  </script>
</body>
</html>
