<header class="site-header">
  <div class="header-inner">
    <a href="/" class="site-logo">
      <img class="logo-icon" src="/img/penumbra-logo-square.png" alt="" aria-hidden="true">
      <span>PenumbraOS</span>
    </a>
    <nav class="site-nav">
      {{ range .Site.Menus.main }}
        {{ if ne .Identifier "center" }}
          <a href="{{ .URL }}" class="nav-link{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{ end }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
      <a href="https://github.com/PenumbraOS/" class="nav-link nav-link--github" target="_blank" rel="noopener">GitHub</a>
      {{ range .Site.Menus.main }}
        {{ if eq .Identifier "center" }}
          <a href="{{ .URL }}" class="nav-link nav-link--pill{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{ end }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>
